/*	Authors		Craig Rozynski craigrozynski.com
							Marco Lago marcolago.com
		Version		2.0 2015-02-02 */

/* CSS Reset (customised) */

html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, small, strong {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
body { display: block; }
html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
::-moz-selection{ background: #3b7cbf; color: #fff; text-shadow: none; }
::selection { background: #3b7cbf; color: #fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #3b7cbf; }
.ie7 img { -ms-interpolation-mode: bicubic; }
h1, h2, h3, h4, h5, h6 { font-weight: 700; }

/* Primary Styles */
  
body {
	padding: 10px;
	font: 1em "HelveticaNeue", "Helvetica Neue", Helvetica, Arial sans-serif;
	font-weight: 300;
	color: #515047;
	background-color: #F2F1DB;
}
a, a:link, a:visited, a:active, .title, .category {
	float: left;
	width: 100%;
	height: auto;
	margin-bottom: 30px;
	text-decoration: none;
}
h1, h2, h3 { 
	font-size: 3em;
	font-weight: 700;
}
h1 {
	color: #515047;
	line-height: 0.8;
	letter-spacing: -0.05em;
}
h2 {
	color: #d4d3c0;
	line-height: 0.9;
	letter-spacing: -0.05em;
}
h3 {
	color: #3b7cbf;
	line-height: 0.9;
	letter-spacing: -0.05em;
}
p {
	font-size: 1.25em; 
	line-height: 1.15;
	margin: 0.75em 0;
	color: #b9b8a4;
}
small {
	font-size: 1em; 
	color: #3b7cbf;
}
img { max-width: 100%; }

/* Media Queries */

/* Column Control Media Queries */

@media screen and (min-width:500px) {
	body {
		max-width: 1600px;
		margin: 0 auto;
		padding: 40px;
		overflow: hidden;
	}
	a {
		-webkit-transition: background-color .3s linear;
		-moz-transition: -color .3s linear;
		transition: background-color .3s linear;
	}
	a:hover { background-color: #e5e4cf; }
	a.title { background-color: #f2f1db; }
	a, a:link, a:visited, a:active, .title, .category {
		position: relative;
		top: 0;
		overflow: hidden;
	}
	div, h2 { position: absolute; }
}

/* Two Column */

@media screen and (min-width:500px) {
	a, a:link, a:visited, a:hover, a:active, .title, .category {
		width: 47%;
		margin: 0 3% 20px 0;
		padding-bottom: 47%;
	}
}

/* Three Column */

@media screen and (min-width:800px) {
	.title, .category, a, a:link, a:visited, a:hover, a:active {
		width: 31%;
		margin: 0 2% 20px 0;
		padding-bottom: 31%;
	}
}

/* Four Column */

@media screen and (min-width:1200px) {
	.title, .category, a, a:link, a:visited, a:hover, a:active {
		width: 23%;
		margin: 20px 2% 0 0;
		padding-bottom: 23%;
	}
}

/* Font Size Control Media Queries */

@media screen and (min-width:500px) {
	h1, h2, h3 { font-size: 2em; }
	p { font-size: 1em; line-height: 1.2; }
}
@media screen and (min-width:600px) {
	h1, h2, h3 { font-size: 2.5em; }
}
@media screen and (min-width:700px) {
	h1, h2, h3 { font-size: 3em; }
	p { font-size: 1.25em; }
}
@media screen and (min-width:800px) {
	h1, h2, h3 { font-size: 2.5em; }
	p { font-size: 1em; }
}
@media screen and (min-width:1000px) {
	h1, h2, h3 { font-size: 3.25em; }
	p { font-size: 1.25em; }
}
@media screen and (min-width:1200px) {
	p { font-size: 1em; }
}
@media screen and (min-width:1400px) {
	p { font-size: 1.25em; }
}
@media screen and (min-width:1600px) {
	h1, h2, h3 { font-size: 4em; }
}

